<li class="slideshow--slide slide slide__picture {{ classes }}" style="background-image: url( {{ background }} );">
	<hgroup class="slide--title">
		{{#if title }}
			<h1 class="slide--h1">{{ title }}</h1>
		{{/if }}
		{{#if subtitle }}
			<h2 class="slide--h2">{{ subtitle }}</h2>
		{{/if }}
	</hgroup>
	{{#if citation}}
		<cite class="slide--citation">{{ citation }}</cite>
	{{/if }}
</li>